@font-face {
	font-family: "Retro Gaming";
	src: url("../font/Retro\ Gaming.ttf");
}

.contenitore_configP {
  background-color: rebeccapurple;
  position: absolute;
  height: 100%;
  width: 100%;
}

.row_configP{
  display: inline;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
}

.col_confP{
  display: inline-flex;
  width: 200px;
  align-items: center;
  justify-content: center;
}

.titolo_configP{
  font-family: "Retro Gaming";
  font-size: 60px;
  font-weight: bold;
  text-shadow: 2px 2px white;
}