body{
  margin: 0;
  padding: 0;
}

.principale{
  background-color: #200C64;

}

.linknb, .login{
  color: white;
  font-size: 17px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.linknb:hover{
  transition: 0.1s;
  border-bottom: solid white 2px;
}

.login{
  border: solid #200C64;
  border: solid #200C64 2px;
  background-color: #200C64;
}

.login:hover{
  transition: 0.4s;
  border: solid white 2px;
  border-radius: 15px;
}

.ondac{
  justify-content: center;
}

.frecciagiu{
  max-width: 600px;
  color: white;
}

.titolotrapped{
  color: white;
  display: flex;
  justify-content: center;
  font-size: 150px;
  font-family: "TRAPPED";
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.sinostra{
  display: flex;
  justify-content: left;
}

.centro{
  display: flex;
  justify-content: center;
}

.destra{
  display: flex;
  justify-content: right;
}

.imma{
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.dimimma{
  max-width: 100%;
  max-height: 100%;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  max-width: 30%;
  max-height: 30%;
  }

.sottotitolo{
  position: relative;
  top: 60px;
  font-family: 'Bungee';
  font-size: 40px;
  color: white;
}

.card-body{
  border: transparent;
}

.card-title{
  font-family: 'Bungee';
}

.stanzeimm{
  transform: scale(0.7);

}

.stanzetext{
  color: black;
  font-size: 70px;
}

.noi{
  display: flex;
  margin-top: 7%;
  margin-bottom: 7%;
}

.carte{
  margin-left: 2%;
}

.cartenoi{
  height: 50%;
  border-radius: 100%;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin-left: 8%;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: white;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color:white;
  color: white;
  transform: rotateY(180deg);
  color:black;
}


.imgpersonaggi{
  transform: scale(2.5); 
  backface-visibility: hidden;
}

.testo{
  font-family: Arial;
  font-size: 25px;
  color: white;
  width: 60%;
  justify-content: center;
  margin-left:20%;
  margin-top: 2%;
  margin-bottom: 5%;
}

.installazione{
  font-family: Arial;
  font-size: 20px;
  color: white;
  margin-bottom: 15%;
}

.submitcen{
  display: flex;
  justify-content: center;
}

.submitsize{
  width: 100px;
  height: 50px;
  border-radius: 15px;
}

.codiceinst{
  background-color: aqua;
  display: flex;
  color: black;
  display: inline-block;
}

.testoinst{
  color: white;
}


.titolostoria{

  font-family: 'Bungee';
  font-size: xx-large;
  color: white;
  font-size: 50px;
}

.formmail{
  margin-top: 5%;
  margin-bottom: 10%;
}

.logoDenina{
  max-width: 150px;
  max-height: 150px;
}

.tornaS{
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 10;
  width: 40px;
  color: white;
}

.footer{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: linear-gradient(180deg, #f5f6f9, white); 
  padding-top: 50px;
  color: white;
}

.colorefooter{
  background-color: white;

}

.scrittafooter{
  color: #200C64;
}

.social{
  color: 200c64;
  width: 32px;
  height: 32px;
  margin: 20px;
  margin-bottom: 25px;
  border: solid #200c64 3px,
}

.social:hover{
  transition: 0.3s;
  border-radius: 50px;
  color: #200c64;
  background-color: white;
  border: solid white 3px;
}

section{
  
  position: relative;
  width: 100%;
  height: 100px;
  background: #200C64;
  overflow: hidden;
}

section .wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./img/wave.png");
  background-size: 1000px 100px;
}

section .wave.wave1{
  animation: animate 20s linear infinite;
  z-index: 1000;
  opacity: 0.8;
  animation-deLay: 0s;
  bottom: 0;
}

@keyframes animate{
  0%
  {
    background-position-x: 0;
  }
  100%
  {
    background-position-x: 1000px;
  }
}

section .wave.wave2{
  animation: animate2 20s linear infinite;
  z-index: 999;
  opacity: 0.4;
  animation-deLay: 0s;
  top: 10;
}

@keyframes animate2{
  0%
  {
    background-position-x: 0;
  }
  100%
  {
    background-position-x: -999px;
  }
}

section .wave.wave3{
  animation: animate3 20s linear infinite;
  z-index: 998;
  opacity: 0.6;
  animation-deLay: 10s;
  bottom: 15;
}

@keyframes animate3{
  0%
  {
    background-position-x: 0;
  }
  100%
  {
    background-position-x: 998px;
  }
}

section .wave.wave4{
  animation: animate4 20s linear infinite;
  z-index: 990;
  opacity: 0.2;
  animation-deLay: 10s;
  bottom: 20;
}

@keyframes animate4{
  0%
  {
    background-position-x: 0;
  }
  100%
  {
    background-position-x: -990px;
  }
}

@media screen and (max-width : 300px) {
  
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 992px) {
  
}

@font-face {
	font-family: 'Bungee';
	src: url('./font/Bungee-Regular.ttf');
}

@font-face {
	font-family: "TRAPPED";
	src: url("../font/04B_30__.TTF");
}