@font-face {
	font-family: "0AB 30";
	src: url("../font/04B_30__.TTF");
}

.contenitore_home {
  background-color: rebeccapurple;
  position: absolute;
  height: 100%;
  width: 100%;
}

.row_home{
  display: inline;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.titolo_home{
  display: flex;
  font-family: "0AB 30";
  font-size: 100px;
  font-weight: bold;
  text-shadow: 2px 2px white;
}

.button_home{
  margin: 50px;
  display: flex;
}