.contenitore {
  background-color: rebeccapurple;
  position: absolute;
  height: 100%;
  width: 100%;
}

.row{
  display: inline;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.titolo{
  display: flex;
}

.button{
  margin: 50px;
  display: flex;
}

@media (max-width: 576px){
  .titolo{
    scale: 0.5;
  }

  .button{
    scale: 0.5;
    margin: 25px;
  }
}